@keyframes anim1{
    0%{
        top:0px;
    }
    50%{
        top:450px;
       
    }
    100%{
        top:0px;
    }
    
}

@keyframes anim2{
    0%{
        
    }
}
.imp_links{
    font-family: 'Permanent Marker', cursive;
    font-size:20px;
    color:black;

    
}
#main_heading{
    font-family: Shizuru,cursive;
    font-size:50px;
    color: antiquewhite;
    text-align: center;
}
@keyframes anim2{
    0%{
        transform: rotate(60deg);
        opacity: 0;
    }
    25%{
        transform: rotate(30deg);
        opacity: 1;
    }

    95%{
        transform: rotate(0.5deg);
        opacity: 1;
    }
    100%{
        transform: rotate(0deg);
        opacity: 1;
    }
}
#top-heading{
    overflow: hidden;
    background-color: aquamarine;

}
.main_heading2{
    font-family: 'Righteous', cursive;
    transform-origin: left;
    font-size: 50px;
    color: #1d76db;
    animation: anim2 2s ease-out 1s ;
    
}
/* body{
 background-color:#F6D8AE; 
 background-image: url("tokyo_tower.jpg"); 
 background-color: #7776BC;
 background-size: cover;
} */

/* h2{
    animation-name: anim1;
    animation-duration:4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
} */

.dont_click{
    font-family: sans-serif;
    font-size:50 px;
    color:#DA4167;
    padding:30px 40px 30px 40px;

    position:relative;
    left:45%;
    top:10%;
    height:auto;
    width:fit-content;
    }

.dark-black-border{
    border-color: white;
    border-width: 3px;
    border-style: solid;
    border-radius:15px;

    background: repeating-linear-gradient(
  45deg,
  yellow 0px,
  yellow 40px,
  black 40px,
  black 80px
);

}

.box {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}


.subheading{
    font-family: "Indie Flower", cursive;
    font-size: 30px;
    color: black;
}

.subheading2{
    font-family: "Indie Flower", cursive;
    font-size: 30px;
    color: rgb(100, 186, 226);
    margin-right: 20px;
}

.about_contact_container{
    display: flex;
    flex-direction: row-reverse;
}

.image_prop_left{
    margin: 20px 40px 20px 20px;
    width: 45vw;
    height: 35vw;
    box-shadow: 10px 10px 30px 5px #FFFBDB;
}

/* .image_prop_left:hover{
    width: 48vw;
    height: 38vw;
     position: absolute; 
    left: 2vw;
    z-index: 2;
    box-shadow: 10px 10px 30px 5px #FFFBDB;
    transition: 1s ease-out;
    
} */

.image_prop_right{
    margin: 20px 40px 20px 20px;
    width: 45vw;
    height: 35vw;
    box-shadow: 10px 10px 30px 5px #FFFBDB;
}

/* .image_prop_right:hover{
    width: 48vw;
    height: 38vw;
     position: absolute; 
    right: 2vw;
    z-index: 2;
    box-shadow: 10px 10px 30px 5px #FFFBDB;
    transition: 1s ease-out;
    
} */
.fa-twitter {
    padding: 20px;
    font-size: 5vw;
    width: 5vw;
    text-align: center;
    text-decoration: none;
}
.fa-github{
    padding: 20px;
    font-size: 5vw;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover{
    padding: 20px;
    font-size: 7vw;
    width: 5vw;
    text-align: center;
    text-decoration: none;
    transition: 1s ease-out;
}

.box_end{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bg_image{
    background-image: url('laptop_image2.jpg');
    background-size: cover;
    
}